<h1>Электронная очередь</h1>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Войти через VK", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
