<h1>Users::OmniauthCallbacks#vkontakte</h1>
<p>Find me in app/views/users/omniauth_callbacks/vkontakte.html.erb</p>
<% @users.each do |user| %>
	<%= user.inspect %>
<% end %>

<%= session[:current_user_id] %>
